{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    제안자/응답자 배정을 위한 설문조사
{% endblock %}

{% block content %}

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/1.8/ref/templates/language/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->
<h4>최후통첩게임에서의 역할 배정을 위한 설문조사</h4>
<p>
여러분들은 최후통첩게임에 참가하기에 앞서 두 가지 간단한 질문에 응답하시게 될 것입니다. 여러분들의 역할은 이 질문의 결과에 의해 결정될 것입니다. 하지만 질문의 내용은 게임의 내용과 무관합니다.
</p>
<p>
가령, 질문이 '노란색과 연두색 중에 어떤 것의 느낌이 좋습니까?' 라는 질문에 노란색이라고 답한 사람들은 모두 동일하게 최후통첩게임에서 제안자와 응답자 중 한 역할을 맡게 될 것입니다. 연두색이라고 답한 사람들도 마찬가지입니다. 만일 응답자의 짝이 맞지 않을 경우에는 두번째 질문에 따라 같은 방식으로 역할을 나눌 것이며, 그래도 짝이 맞지 않는 경우는 어쩔 수 없이 임의로 역할을 부여하게 될 것입니다. 
</p>
<p>
준비가 되셨다면 다음으로 넘어가기 위한 버튼을 눌러주시기 바랍니다.
</p>
    {% next_button %}

{% endblock %}
