{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    당신은 <strong>응답자</strong>입니다.
{% endblock %}

{% block content %}

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/1.8/ref/templates/language/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->
<p>제안자인 상대방이 당신에게 {{group.amount_offered}}의 보상을 제안했습니다.</p>

<p>당신은 이 제안을 받아들일 것인지 거부할 것인지 선택할 수 있습니다</p>

<div>
  <button name="offer_accepted" value="True" class="btn btn-primary btn-large">수락</button>
  <button name="offer_accepted" value="False" class="btn btn-primary btn-large">거부</button>
</div>

{% endblock %}
